Hierro, Gershwin
Lluisma, Arthur
Umbay, Marie

In [28]:
import pandas as pd

df = pd.read_csv("rice.csv")
df.head(10)

      x1          x2          x3         x4        x5     x6        x7       y
0  15231  525.578979  229.749878  85.093788  0.928882  15617  0.572896  Cammeo
1  14656  494.311005  206.020065  91.730972  0.895405  15072  0.615436  Cammeo
2  14634  501.122009  214.106781  87.768288  0.912118  14954  0.693259  Cammeo
3  13176  458.342987  193.337387  87.448395  0.891861  13368  0.640669  Cammeo
4  14688  507.166992  211.743378  89.312454  0.906691  15262  0.646024  Cammeo
5  13479  477.015991  200.053055  86.650291  0.901328  13786  0.657897  Cammeo
6  15757  509.281006  207.296677  98.336136  0.880323  16150  0.589708  Cammeo
7  16405  526.570007  221.612518  95.436707  0.902521  16837  0.658888  Cammeo
8  14534  483.640991  196.650818  95.050682  0.875429  14932  0.649651  Cammeo
9  13485  471.570007  198.272644  87.727287  0.896789  13734  0.572320  Cammeo

In [29]:
num_features = 7
column_names = [f"x{i}" for i in range(1, num_features + 1)]
column_names.append("y")
df.columns = column_names
df.head()

      x1          x2          x3         x4        x5     x6        x7       y
0  15231  525.578979  229.749878  85.093788  0.928882  15617  0.572896  Cammeo
1  14656  494.311005  206.020065  91.730972  0.895405  15072  0.615436  Cammeo
2  14634  501.122009  214.106781  87.768288  0.912118  14954  0.693259  Cammeo
3  13176  458.342987  193.337387  87.448395  0.891861  13368  0.640669  Cammeo
4  14688  507.166992  211.743378  89.312454  0.906691  15262  0.646024  Cammeo

In [30]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False) 
y_encoded = encoder.fit_transform(df[['y']])
encoded_column_names = [f"y{i+1}" for i in range(y_encoded.shape[1])]
y_df = pd.DataFrame(y_encoded, columns=encoded_column_names)
df = pd.concat([df.drop(columns=['y']), y_df], axis=1)
df.head()

,x1,x2,x3,x4,x5,x6,x7,y1,y2
0,15231,525.578979,229.749878,85.093788,0.928882,15617,0.572896,1.0,0.0
1,14656,494.311005,206.020065,91.730972,0.895405,15072,0.615436,1.0,0.0
2,14634,501.122009,214.106781,87.768288,0.912118,14954,0.693259,1.0,0.0
3,13176,458.342987,193.337387,87.448395,0.891861,13368,0.640669,1.0,0.0
4,14688,507.166992,211.743378,89.312454,0.906691,15262,0.646024,1.0,0.0

In [31]:
df_x = df.iloc[:, :7] 
df_y = df.iloc[:, 7:] 

print("df_x:")
print(df_x.head())

print("\ndf_y:")
print(df_y.head())

df_x:
      x1          x2          x3         x4        x5     x6        x7
0  15231  525.578979  229.749878  85.093788  0.928882  15617  0.572896
1  14656  494.311005  206.020065  91.730972  0.895405  15072  0.615436
2  14634  501.122009  214.106781  87.768288  0.912118  14954  0.693259
3  13176  458.342987  193.337387  87.448395  0.891861  13368  0.640669
4  14688  507.166992  211.743378  89.312454  0.906691  15262  0.646024

df_y:
    y1   y2
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

## 0.2 TEST SPLIT

In [32]:
from sklearn.model_selection import train_test_split


test_size = 0.2 # 20%
random_state = 42

# Split the data 
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=test_size, random_state=random_state)

print("df_x_train shape:", df_x_train.shape)
print("df_x_test shape:", df_x_test.shape)
print("df_y_train shape:", df_y_train.shape)
print("df_y_test shape:", df_y_test.shape)

df_x_train shape: (3048, 7)
df_x_test shape: (762, 7)
df_y_train shape: (3048, 2)
df_y_test shape: (762, 2)

In [33]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score


df_y_train_1d = np.argmax(df_y_train.values, axis=1)
df_y_test_1d = np.argmax(df_y_test.values, axis=1)


rf_classifier = RandomForestClassifier(random_state=42)
gnb_classifier = GaussianNB()


rf_classifier.fit(df_x_train, df_y_train_1d)


gnb_classifier.fit(df_x_train, df_y_train_1d)


rf_predictions = rf_classifier.predict(df_x_test)
gnb_predictions = gnb_classifier.predict(df_x_test)


rf_accuracy = accuracy_score(df_y_test_1d, rf_predictions)
gnb_accuracy = accuracy_score(df_y_test_1d, gnb_predictions)


print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
print(f"Gaussian Naive Bayes Accuracy: {gnb_accuracy * 100:.2f}%")

Random Forest Accuracy: 92.26%
Gaussian Naive Bayes Accuracy: 91.47%

## 0.3 TEST SPLIT

In [34]:

test_size = 0.3 # 30%

random_state = 42


df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=test_size, random_state=random_state)


print("df_x_train shape:", df_x_train.shape)
print("df_x_test shape:", df_x_test.shape)
print("df_y_train shape:", df_y_train.shape)
print("df_y_test shape:", df_y_test.shape)

df_x_train shape: (2667, 7)
df_x_test shape: (1143, 7)
df_y_train shape: (2667, 2)
df_y_test shape: (1143, 2)

In [35]:

df_y_train_1d = np.argmax(df_y_train.values, axis=1)
df_y_test_1d = np.argmax(df_y_test.values, axis=1)


rf_classifier = RandomForestClassifier(random_state=42)
gnb_classifier = GaussianNB()


rf_classifier.fit(df_x_train, df_y_train_1d)


gnb_classifier.fit(df_x_train, df_y_train_1d)


rf_predictions = rf_classifier.predict(df_x_test)
gnb_predictions = gnb_classifier.predict(df_x_test)


rf_accuracy = accuracy_score(df_y_test_1d, rf_predictions)
gnb_accuracy = accuracy_score(df_y_test_1d, gnb_predictions)


print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
print(f"Gaussian Naive Bayes Accuracy: {gnb_accuracy * 100:.2f}%")

Random Forest Accuracy: 92.56%
Gaussian Naive Bayes Accuracy: 91.51%

## 0.4 TEST SPLIT

In [36]:

test_size = 0.4 # 40%


random_state = 42


df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=test_size, random_state=random_state)

print("df_x_train shape:", df_x_train.shape)
print("df_x_test shape:", df_x_test.shape)
print("df_y_train shape:", df_y_train.shape)
print("df_y_test shape:", df_y_test.shape)

df_x_train shape: (2286, 7)
df_x_test shape: (1524, 7)
df_y_train shape: (2286, 2)
df_y_test shape: (1524, 2)

In [37]:

df_y_train_1d = np.argmax(df_y_train.values, axis=1)
df_y_test_1d = np.argmax(df_y_test.values, axis=1)


rf_classifier = RandomForestClassifier(random_state=42)
gnb_classifier = GaussianNB()


rf_classifier.fit(df_x_train, df_y_train_1d)


gnb_classifier.fit(df_x_train, df_y_train_1d)


rf_predictions = rf_classifier.predict(df_x_test)
gnb_predictions = gnb_classifier.predict(df_x_test)


rf_accuracy = accuracy_score(df_y_test_1d, rf_predictions)
gnb_accuracy = accuracy_score(df_y_test_1d, gnb_predictions)


print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
print(f"Gaussian Naive Bayes Accuracy: {gnb_accuracy * 100:.2f}%")

Random Forest Accuracy: 92.32%
Gaussian Naive Bayes Accuracy: 91.21%

In [38]:

test_size = 0.5 # 50%


random_state = 42


df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=test_size, random_state=random_state)


print("df_x_train shape:", df_x_train.shape)
print("df_x_test shape:", df_x_test.shape)
print("df_y_train shape:", df_y_train.shape)
print("df_y_test shape:", df_y_test.shape)

df_x_train shape: (1905, 7)
df_x_test shape: (1905, 7)
df_y_train shape: (1905, 2)
df_y_test shape: (1905, 2)

In [39]:

df_y_train_1d = np.argmax(df_y_train.values, axis=1)
df_y_test_1d = np.argmax(df_y_test.values, axis=1)


rf_classifier = RandomForestClassifier(random_state=42)
gnb_classifier = GaussianNB()


rf_classifier.fit(df_x_train, df_y_train_1d)

gnb_classifier.fit(df_x_train, df_y_train_1d)


rf_predictions = rf_classifier.predict(df_x_test)
gnb_predictions = gnb_classifier.predict(df_x_test)


rf_accuracy = accuracy_score(df_y_test_1d, rf_predictions)
gnb_accuracy = accuracy_score(df_y_test_1d, gnb_predictions)


print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
print(f"Gaussian Naive Bayes Accuracy: {gnb_accuracy * 100:.2f}%")

Random Forest Accuracy: 92.02%
Gaussian Naive Bayes Accuracy: 91.23%